[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = John Sakarias Johannessen
	email = johnj@slaskdot.org
[rerere]
	enabled = true
[alias]
	first = rev-list --max-parents=0 HEAD
[core]
	excludesfile = /Users/john2/.gitignore
